[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Icon=/opt/RubyMine-2020.3.1/bin/rubymine.png
Exec="/opt/RubyMine-2020.3.1/bin/rubymine.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine
